<div class="container">
    <p-card
        [style]="{borderRadius:'0px',height:'100%',minHeight:'51rem', background: 'burlywood',border: 'none',boxShadow: 'none', justifyContent:''}">

        <section class="contact-section">

            <h2>📬 Contact Me</h2>


            <h3>Let's connect — I'm open to freelance, full-time roles, or just a chat.</h3>


            <ul class="contact-info">

                <li><strong>Email: </strong><a href="mailto:pilli.anand@outlook.com">pilli.anand"*"outlook.com</a></li>

                <li><strong>Phone: </strong><a href="tel:+19046093491">+1 (904) 609-3491</a></li>

                <li><strong>LinkedIn: </strong><a href="https://www.linkedin.com/in/anand-pilli-41959142"
                        target="_blank">linkedin.com/in/anand-pilli-41959142</a></li>

                <li><strong>GitHub: </strong><a href="https://github.com/anands1472"
                        target="_blank">github.com/anands1472</a></li>

            </ul>

        </section>
    </p-card>
</div>