.contact-section {

    padding: 2rem;

    background-color: bisque;

    border-radius: 8px;
    min-height: 48rem;

}



.contact-section h2 {

    font-size: 2rem;

    color: #1a237e;

    font-family: 'Courier New', monospace;
}

.contact-section h3 {
    font-family: 'Courier New', monospace;
}

.contact-info {

    list-style: none;

    padding-left: 0;

    line-height: 2.5;
    font-size: 18px;
    font-family: 'Courier New', monospace;

}



.contact-info a {

    color: #0077cc;

    text-decoration: none;

}