<div class="container">
    <p-card [style]="{borderRadius:'0px',height:'100%', background: 'burlywood',border: 'none',boxShadow: 'none', }">


        <section class="about-section">
            <h2> About Me</h2>
            <p>
                👋 Hello! I’m <strong>Anand Pilli</strong>, a passionate and detail-oriented
                <strong>Full Stack Developer</strong> with hands-on experience building web applications using
                <strong>JavaScript, Angular, React, Node.js, </strong> and <strong>modern web development
                    practices.</strong>.
            </p>
            <p>
                With real-world experience working on dynamic web applications, I’ve developed features for e-commerce
                platforms, payment systems, notification services, and responsive UI components that deliver seamless
                user experiences. I’m especially passionate about building applications that solve practical problems
                and improve people’s day-to-day workflows.
            </p>
            <p>
                I thrive in environments where continuous learning is encouraged. Whether it’s understanding how a new
                framework works under the
                hood or figuring out the best way to architect a scalable REST API, I enjoy diving deep and writing
                clean, efficient, and maintainable code.

            </p>
            <h3>🛠️ Skills & Tools</h3>
            <ul>
                <li><strong>Frontend:</strong> Angular, React, HTML5, CSS3, TypeScript, Bootstrap, Tailwind</li>
                <li><strong>Backend:</strong>Node.js, Express.js, MongoDB, RESTful APIs</li>
                <li><strong>Tools:</strong> Git, Postman, Firebase, VS Code</li>
                <li><strong>Soft Skills:</strong> Problem-solving, communication, collaboration, attention to detail
                </li>
            </ul>

            <h3>🚀 What I’m Currently Working On</h3>
            <ul>
                <li>Building reusable UI components using Angular</li>
                <li>Exploring advanced state management in React with Redux Toolkit</li>
                <li>Improving my knowledge of system design and cloud deployment (AWS, Firebase)</li>
            </ul>

            <h3>🎯 My Goals</h3>
            <ul>
                <li>Become a well-rounded developer with strong backend architecture skills</li>
                <li>Contribute to open-source projects and developer communitiest</li>
                <li>Work on impactful projects that combine performance and accessibility</li>
            </ul>
            <h3>🙌 Outside of Work</h3>
            <ul>
                <li>Learning new tech from blogs, YouTube, or communities</li>
                <li>Spending time with family and friends</li>
                <li>Exploring new tools that improve productivity or performance</li>
            </ul>

        </section>
    </p-card>
</div>