nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    ul {
        list-style: none;
        font-size: 18px;
        font-family: 'Courier New', monospace;
        font-weight: 600;
        cursor: pointer;
        text-transform: uppercase;

        &:hover {
            color: yellow;
        }

    }
}