<div class="container">
    <p-card
        [style]="{borderRadius:'0px',height:'51rem', background: 'burlywood',border: 'none',boxShadow: 'none', justifyContent:''}">
        <section class="projects-section">
            <h2> Professional Experience:</h2>

            <h3>Client : Disney World -june , 2025 – Present Role: FullStack Developer
            </h3>
            <ul>
                <li><strong>Project: Vision</strong></li>
            </ul>
            <h3>Client: Guidewell Source, Jacksonville,FL -Feb 2020 – may,2025 Role: Sr.React js / UI Developer
            </h3>
            <ul>
                <li><strong>Project: Debt Recovery connect,</strong></li>
                <li><strong>Project: prior-auth connect,</strong></li>
                <li><strong>medical connect,</strong> </li>
                <li><strong>Inquiry management application,</strong></li>
                <li><strong>Project: Letters connect</strong></li>
            </ul>

            <h3>Client: Florida Blue, Jacksonville,FL- May , 2019 – Feb ,2020
                Role: React Js Developer
            </h3>
            <ul>
                <li><strong>Project: ROME</strong></li>
            </ul>

            <h3>Client : CSX Transport Technologies -Jan , 2017 – Apr , 2029
                Role: FullStack Developer
            </h3>
            <ul>
                <li><strong>Project: STW</strong></li>
            </ul>
        </section>
    </p-card>
</div>