.projects-section {

    background-color: bisque;

    padding: 2rem;

    border-radius: 10px;

    margin: 1rem;

    font-family: 'Courier New', monospace;
    min-height: 48rem;
}

.projects-section h2 {

    font-size: 2rem;

    color: #1a237e;

}

.projects-section h3 {

    margin-top: 1.5rem;

    color: #0d47a1;

}